nav.navbar.box
    .navbar__container
        a(href="#").navbar__item.navbar__item_active Summary
        a(href="#").navbar__item General
        a(href="#").navbar__item Sights
        a(href="#").navbar__item Weather
        a(href="#").navbar__item What to Do
        a(href="#").navbar__item Residential Guide
        a(href="#").navbar__item Residential Photos