.footer {
    background-color: $colorGray;
    min-height: 314px;
    padding: 56px 135px 32px;
    border-bottom: 1px solid #D8D8D8;
    position: relative;

    @include respond-to-max($xl) {
        padding: 50px 50px 30px;
        min-height: 260px;
    }

    @include respond-to-max($lg) {
        padding: 50px 15px 30px;
    }

    &__container {
        @include flex(space-between, flex-start, row nowrap);

        @include respond-to-max($lg) {
            flex-direction: column;
        }
    }

    &__testwork-logo {
        margin-right: 50px;

        @include respond-to-max($lg) {
            margin-right: 25px;
            margin-bottom: 30px;
        }
        @include respond-to-max($sm) {
            margin-left: auto;
            margin-right: 0;
        }
    }

    &__sections {
        @include flex(space-between);

        width: 100%;
        max-width: 860px;

        @include respond-to-max($lg) {
            margin-bottom: 40px;
        }

        @include respond-to-max($sm) {
            flex-direction: column;
        }
    }

    &__copyright {
        text-align: center;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        color: #505050;

        @include font(remy(14), normal, 19px);
    }
}

.footer-section {

    @include respond-to-max($md) {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #4E5665;

        @include font(remy(15), normal, 20px);
    }

    &__link {
        @include font(remy(14), normal, 19px);

        margin-bottom: 8px;
        color: #505050;
        display: block;

        &:hover {
            color: $colorYellowSandy;
            text-decoration: underline;
        }

        &_chat, 
        &_facebook, 
        &_instagram {
            padding-left: 30px;
            position: relative;

            &::before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &_chat {
            &::before {
                content: url("../img/chat-logo.svg");
            }
        }
        &_facebook {
            &::before {
                content: url("../img/facebook-logo.svg");
            }
        }
        &_instagram {
            &::before {
                content: url("../img/instagram-logo.svg");
            }
        }
    }
}
