.intro {
    min-height: 700px;
    position: relative;

    &__title {
        @include font(200px, normal, 1, $fontTimes);

        color: $colorWhite;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond-to-max($md) {
            font-size: 140px;
        }
        @include respond-to-max($sm) {
            font-size: 70px;
        }
    }

    &__sub-title {
        @include font(24px, normal, 1, $fontGeorgia);

        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        color: $colorWhite;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        text-align: center;

        @include respond-to-max($sm) {
            font-size: 18px;
        }
    }

    &__backgrounds {
        overflow-x: hidden;
    }

    &__bg {
        max-height: 700px;
        z-index: 1;
    }
}

.slider-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 2;

    &__dot {
        width: 12px;
        height: 12px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        margin-right: 10px;

        &:hover {
            background-color: $colorWhite;
        }


        &_active {
            background-color: $colorWhite;
        }
    }
}