.about-cuba.common.container
    .common__title What Cuba is about
    .common__description.common__description_cuba-about Cuba is like a prince in a poor man’s coat; behind the sometimes shabby facades, gold dust lingers. It’s these rich dichotomies that make travel here the exciting. Trapped in a time warp and reeling from an economic embargo that has grated for more than half a century, this is a country where you can wave goodbye to everyday assumptions and expect the unexpected. 
    .cuba-places
        .cuba-place
            img(src="img/beach-photo.jpg").cuba-place__photo
            .cuba-place-card
                    .cuba-place-card__title Astonishing Beaches
                    .cuba-place-card__description Whether you’re staying in a luxury hotel in Havana or exploring the rural charms of Vinales, in some ways it’s all the real Cuba. Some travellers might opt to miss the beach resort town of Varadero, but this energetic beachside paradise should still  be an option to consider as part of your Cuban travel plans.
                
        