footer.footer.box
    .footer__container
        img(src="img/testwork-logo.svg").footer__testwork-logo
        .footer__sections
            .footer-section
                .footer-section__title Company
                a(href="#").footer-section__link About TripOp
                a(href="#").footer-section__link Work with Us 
            .footer-section
                .footer-section__title Discover
                a(href="#").footer-section__link How to Book?
                a(href="#").footer-section__link Methods of Payment 
                a(href="#").footer-section__link General Conditions 
            .footer-section
                .footer-section__title Connect with us
                a(href="#").footer-section__link.footer-section__link_chat Contact Us
                a(href="#").footer-section__link.footer-section__link_facebook Facebook
                a(href="#").footer-section__link.footer-section__link_instagram Instagram
            .footer-section
                .footer-section__title Blog
                a(href="#").footer-section__link Choosing A Static Caravan
                a(href="#").footer-section__link Cost Cutting Ideas For Your Wedding

    .footer__copyright © 2016 All rights reserved. 