.intro.box
    .intro__title Cuba
    .intro__title Burgundy
    .intro__title Antarctica
    .intro__sub-title Explore the world of cansas
    .intro__sub-title Explore the luxury of Wine & Food
    .intro__sub-title Snow, ice, water, rock. Simply stunning.
    .intro__backgrounds
        img(src="img/bg-photo.jpg").intro__bg
        img(src="img/bg-photo2.jpg").intro__bg
        img(src="img/bg-photo3.jpg").intro__bg
    //- .intro__rectangle-stripe
    .slider-dots
        .slider-dots__dot(onclick="currentSlide(1)")
        .slider-dots__dot(onclick="currentSlide(2)")
        .slider-dots__dot(onclick="currentSlide(3)")