.navbar {
    width: 100%;
    border-bottom: 1px solid $colorLightGray;
    padding: 0 20px;

    @include flex(center, center);

    &__container {
        max-width: 640px;
        width: 100%;

        @include flex(space-between, center);

        @include respond-to-max($lg) {
            overflow-x: scroll;
            flex-wrap: nowrap;
        }

        @include respond-to-max($sm) {
            justify-content: flex-start;
        }
    }
    &__item {
        @include font(14px, normal, 63px, $fontBase);

        color: $colorNavItem;
        padding: 0 10px;
        box-sizing: content-box;

        @include respond-to-max($lg) {
            white-space: nowrap;
        }

        &_active, &:hover {
            color: $colorNavItem--active;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                background-color: $colorYellowSandy;
                bottom: 0;
                left: 0;
            }

        }
    }
}