head
  link(rel="stylesheet" href="css/main.css")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
body
    include ./sections/intro.pug
    include ./sections/why-love-cuba.pug
    include ./sections/cuba-about.pug
    include ./sections/cuba-in-photos.pug
    include ./sections/footer.pug
    