//fonts
$fontBase: 'Helvetica', sans-serif;
$fontGeorgia: 'Georgia', sans-serif;
$fontTimes: 'Times', sans-serif;
$fontAvenir: 'Avenir Next', sans-serif;

//resolutions
$xl: 1200px;
$lg: 960px;
$md: 768px;
$sm: 460px;
$xsm: 375px;

//$colors
$colorWhite: #fff;
$colorBlack: #000;
$colorCommonTitle: #4E5665;
$colorCommonText: #505050;
$colorNavItem: #909090;
$colorNavItem--active: #4E5665;

$colorYellowSandy: #ECB84C;
$colorYellowSandy--hover: #FFCF6A;

$colorLightGray: #D0D4D8;
$colorGray: #f2f2f2;