//fonts
$fontBase: 'Helvetica', sans-serif;
$fontGeorgia: 'Georgia', sans-serif;
$fontTimes: 'Times', sans-serif;
$fontAvenir: 'Avenir Next', sans-serif;

//$colors
$colorWhite: #fff;
$colorBlack: #000;
$colorCommonTitle: #4E5665;
$colorCommonText: #505050;
$colorNavItem: #909090;
$colorNavItem--active: #4E5665;

$colorYellowSandy: #ECB84C;

$colorLightGray: #D0D4D8;
$colorGray: #f2f2f2;