//fonts
$fontBase: 'Helvectica', sans-serif;
$fontGeorgia: 'Georgia', sans-serif;
$fontTimes: 'Times', sans-serif;

//$colors
$colorWhite: #fff;
$colorBlack: #000;
$colorCommonTitle: #4E5665;
$colorCommonText: #505050;